<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @voiceline.user_id %>
</p>

<p>
  <strong>Character:</strong>
  <%= @voiceline.character %>
</p>

<p>
  <strong>Line:</strong>
  <%= @voiceline.line_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @voiceline.project_id %>
</p>

<%= link_to 'Edit', edit_voiceline_path(@voiceline) %> |
<%= link_to 'Back', voicelines_path %>
